<p style="color: green"><%= notice %></p>
<div class="container-xxl border border-dark border-2 rounded-3 bg-light">
<h1>Boite de réception</h1>

<div type="button" class="btn btn-link"><%= link_to "Ecrire un courriel", new_email_path %></div>

<div class="row align-items-center">
  <div class="col border">
    <div id="emails">
      <% @emails.each do |email| %>
        <%= render email %>
        <p>
          <%= link_to "Show this email", email %>
        </p>
      <% end %>
    </div>
  </div>
  <div class="col container-fluid">
    One of three columns
  </div>
</div>
</div>


