<div id="<%= dom_id product %>">
  <div class="container mx-auto col-md-9">
    <div class="card" style="width: 18rem;">
      <p>
        <strong>Title:</strong>
        <%= product.title %>
      </p>

      <p>
        <strong>Price:</strong>
        <%= product.price %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= product.description %>
      </p>
    </div>
  </div>
</div>